body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #fff;
  height: 1000px;
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar fridge";
  grid-template-columns: 30% 70%;
  grid-template-rows: 60px 100%;
  margin: 0px;
}

/* Begin of header styles */

header {
  grid-area: header;
  grid-template-columns: 1fr 1fr;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: #1F1f3d;
  height: 60px;
  width: 100%;
  align-self: center;
}

h1 {
  grid-area: header;
  font-size: 24px;
  color: #fff;
  font-weight: 800;
  line-height: 60px;
  margin: 0px;
  padding-left: 10px;
  letter-spacing: 1px;
}

h1 span {
  color: #FEC40E;
}

.header__search {
  display: inline-flex;
  align-self: center;
  justify-self: flex-end;
}

.header__search-img {
  grid-area: header;
  height: 24px;
  padding: 9px;
  background-color: #CAE5E3;
  border-radius: 2px 0px 0px 2px;
}

.header__search-input {
  grid-area: header;
  height: 40px;
  width: 270px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
  margin-right: 12px;
  border-radius: 0px 2px 2px 0px;
  border: none;
  color: #fff;
}

/* Begin sidebar styles */

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background: #46869A;
  border-right: 2px solid #2C6780;
}

.sidebar__form1 {
  box-sizing: border-box;
  margin: 7px 2% 7px 2%;
  width: 96%;
}

.sidebar__form1-label {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}

.sidebar__form1-input {
  width: 98%;
  height: 38px;
  border: 2px solid #1F1f3D;
  border-radius: 2px;
  padding: 0;
  font-size: 16px;
  padding-left: 5px;
}

.sidebar__form1-button {
  width: 98%;
  background: #1F1f3D;
  color: #fff;
  font-weight: 700;
  letter-spacing: .75px;
}

.sidebar__tasklist-insert {
  list-style: none;
  padding: 10px 0 10px 0px;
  display: flex;
}

.task-item__icon-delete {
  margin-left: 7%;
  height: 26px;
  flex-flow: row;
  align-self: baseline;
}

.task-item__text {
  color: #fff;
  font-size: 18px;
  margin: 0px;
  flex-flow: row;
  align-self: center;
  padding-left: 5px;
}

.sidebar__form1-div {
  display: inline-flex;
  align-self: center;
  justify-self: flex-end;
  width: 100%;
}

#sidebar__form1-item-input {
  width: 85%;
  margin-right: 0px;
  border-radius: 2px 0px 0px 2px;
}

.sidebar__form1-plus {
  align-self: center;
  justify-content: flex-end;
  height: 38px;
  width: 15%;
  padding: 7px;
  background-color: #1F1f3D;
  border-radius: 0px 2px 2px 0px;
  margin: 7px 0% 7px 0;
}

.sidebar__form1-button {
  height: 38px;
  width: 98%;
  align-self: center;
  border: none;
}

.sidebar__form1-clear {
  margin-bottom: 20px;
}

.sidebar__form2 {
  border-top: 2px solid #2C6780
}

.urgent {
  width: 96%;
  margin: 30px 2% 7px 2%;
  background-color: #FE2102;
  border: 2px solid #7A0F01;
}

/* Begin Fridge and Prompt styling */

.fridge {
  grid-area: fridge;
  background-color: #F4F7F8;
}

h2 {
  margin: 0px;
}

.todo__listprompt {
  color: #2C6780;
  display: grid;
  font-size: 48px;
  grid-area: fridge;
  justify-content: center;
  margin-top: 21px;
}

.todo__listprompt.hidden {
  display: none;
}

/* Begin ToDo cards styles */

.todo__card {
  color: #1F1F3D;
  margin: 30px;
  width: 300px;
  overflow-wrap: break-word;
  background-color: #FBFDFF;
  border: 2px solid #C7D3D8;

}

.todo__card h2 {
  font-weight: 700;
  padding: 3px 10px;
  border-bottom: 2px solid #C7D3D8;
}

.todo__middle p {
    font-size: 16px;
    margin: 0px;
}

.todo__middle img{
    padding-top: 20px;
    margin-left: 7%;
    height: 26px;
}

.todo__bottom {
  border-top: 2px solid #C7D3D8;
  height: 50px;
  display: flex;
  font-size: 9px;
  padding-top: 2px;
  display: flex;
  justify-content: space-between;
}

.todo__bottom img {
  display: flex;
  margin: 0px;
  padding: 5px 20px 0px 20px;
  height: 23px;
  width: 23px;
  justify-content: space-between;
} 

.todo__bottom p {
  color: #2C6780;
  font-weight: 700;
  text-align: center;
  margin-top: 3px;
}

.todo__card .urgent h2 {
  border-bottom: 2px solid #FEC40E;
}

.todo__card .urgent {
  background-color: #FEE89E;
  border: 2px solid #FEC40E;
}

.todo__bottom .urgent {
  border-top: 2px solid #FEC40E;
}
