html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

header, {
    display: inline-block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #fff;
    height: 1000px;
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar fridge";
    grid-template-columns: 30% 70%;
    grid-template-rows: 60px 100%;
}

header {
    grid-area: header;
    grid-template-columns: 1fr 1fr;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: #1F1f3d;
    height: 60px;
    width: 100%;

}

h1 {
    grid-area: header;
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    line-height: 60px;
    padding-left: 10px;
}

h1 span {
    color: #FEC40E;
}

header input {
    grid-area: header;
    align-self: center;
    justify-self: flex-end;
    height: 40px;
    width: 270px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
    margin-right: 12px;
    border-radius: 2px;
    border: none;
    color: #fff;
}

aside {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    background: #587A8B;
}

aside .sidebar__form1,
.sidebar__form2,
.urgent {
    box-sizing: border-box;
    margin: 5px 2% 5px 2%;
    width: 96%;
}

aside label {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}

aside input, 
button {
    width: 90%;
    height: 38px;
    border: 2px solid #1F1f3D;
    border-radius: 2px;
    padding: 0;
    font-size: 16px;
}

aside input {
    padding-left: 5px;
}

aside button {
    background: #1F1f3D;
    color: #fff;
    font-weight: 700;
    letter-spacing: .75px;
}

aside .sidebar__form1 {

}

aside .sidebar__form2 {
    border-top: 2px solid #587A8B;
}

aside .urgent {
    margin-top: 30px;
    background-color: #EF4A23;
    border: 2px solid #772615; 
}

section {
    grid-area: fridge;
    background-color: #F4F7F8;
}

.note--regular,
.note--urgent {
    color: #1F1F3D;
    margin: 30px;
    width: 300px;
}

.note--regular input,
.note--urgent input {
    padding-left: 5px;
}

.note--regular h2,
.note--urgent h2 {
    font-weight: 700;
    padding: 10px;
}

.note--regular h2 {
    border-bottom: 2px solid #C7D3D8;
}

.note--urgent h2 {
    border-bottom: 2px solid #FEC40E;
}

.note--regular {
    background-color: #FBFDFF;
    border: 2px solid #C7D3D8;
}

.note--urgent {
    background-color: #FEE89E;
    border: 2px solid #FEC40E;
}