body {
  background: #fff;
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar fridge";
  grid-template-columns: 25% 75%;
  grid-template-rows: 60px 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height: 700px;
  margin: 0px;
}

/* Begin of header styles */

header {
  align-self: center;
  background: #1F1f3d;
  display: flex;
  flex-flow: row wrap;
  grid-area: header;
  grid-template-columns: 1fr 1fr;
  height: 60px;
  justify-content: space-between;
  width: 100%;
}

h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  grid-area: header;
  letter-spacing: 1px;
  line-height: 60px;
  margin: 0px;
  padding-left: 10px;
}

h1 span {
  color: #FEC40E;
}

.header__search {
  align-self: center;
  display: inline-flex;
  justify-self: flex-end;
}

.header__search-img {
  background-color: #CAE5E3;
  border-radius: 2px 0px 0px 2px;
  grid-area: header;
  height: 24px;
  padding: 9px;
}

.header__search-input {
  border-radius: 0px 2px 2px 0px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  grid-area: header;
  height: 40px;
  margin-right: 12px;
  padding-left: 10px;
  width: 270px;
}

/* Begin sidebar styles */

.sidebar {
  background: #46869A;
  border-right: 2px solid #2C6780;
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  height: 100%;
  justify-content: flex-start;
}

.sidebar__form1 {
  box-sizing: border-box;
  margin: 7px 2% 7px 2%;
  width: 96%;
}

.sidebar__form1-label {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.sidebar__form1-input {
  border-radius: 2px;
  border: 2px solid #1F1f3D;
  font-size: 16px;
  height: 38px;
  padding-left: 5px;
  padding: 0;
  width: 98%;
}

.sidebar__form1-button {
  align-self: center;
  background: #1F1f3D;
  border: none;
  color: #fff;
  font-size: 16px;
  font-size: 16px;
  font-weight: 700;
  height: 38px;
  letter-spacing: .75px;
  width: 98%;
}

.sidebar__tasklist-insert {
  display: flex;
  list-style: none;
  padding: 10px 0 10px 0px;
}

.task-item__icon-delete {
  align-self: baseline;
  flex-flow: row;
  height: 26px;
  margin-left: 7%;
}

.task-item__text {
  align-self: center;
  color: #fff;
  flex-flow: row;
  font-size: 18px;
  margin: 0px;
  padding-left: 5px;
}

.sidebar__form1-div {
  align-self: center;
  display: inline-flex;
  justify-self: flex-end;
  width: 100%;
}

#sidebar__form1-item-input {
  border-radius: 2px 0px 0px 2px;
  margin-right: 0px;
  width: 85%;
}

.sidebar__form1-plus {
  align-self: center;
  background-color: #1F1f3D;
  border-radius: 0px 2px 2px 0px;
  height: 38px;
  justify-content: flex-end;
  margin: 7px 0% 7px 0;
  padding: 7px;
  width: 15%;
}

.sidebar__form1-clear {
  margin-bottom: 20px;
}

.sidebar__form2 {
  border-top: 2px solid #2C6780
}

.urgent {
  background-color: #FE2102;
  border: 2px solid #7A0F01;
  margin: 30px 2% 7px 2%;
  width: 96%;
}

/* Begin Fridge and Prompt styling */

.fridge {
  background-color: #F4F7F8;
  column-width: 17rem;  
  grid-area: fridge;
}

h2 {
  margin: 0px;
}

.todo__listprompt {
  display: grid;
  grid-area: fridge;
  justify-content: center;
  margin-top: 21px;
}

.todo__listprompt.hidden {
  display: none;
}

/* Begin ToDo cards styles */


.todo__card {
  background-color: #FBFDFF;
  border: 2px solid #C7D3D8;
  color: #1F1F3D;
  display: inline-block;
  margin: 20px;
  overflow-wrap: break-word;
  width: 300px;
}

.todo__middle-display {
  display: block;
}

.todo__card h2 {
  border-bottom: 2px solid #C7D3D8;
  font-weight: 700;
  padding: 3px 10px;
}

.todo__middle-div {
  display: flex;
  grid-template-columns: 10% auto;
  width: 100%;
}

.todo__middle-checkbox {
  align-self: baseline;
  flex-flow: row;
  height: 20px;
  margin-left: 7%;
  padding-top: 20px;
}

.todo__middle-text {
  align-self: baseline;
  flex-flow: row;
  font-size: 16px;
  line-height: 22px;
  margin: 0px;
  padding: 20px 12px;
}

.todo__bottom {
  border-top: 2px solid #C7D3D8;
  display: flex;
  display: flex;
  font-size: 9px;
  height: 50px;
  justify-content: space-between;
  padding-top: 2px;
}

.todo__bottom img {
  display: flex;
  height: 23px;
  justify-content: space-between;
  margin: 0px;
  padding: 5px 20px 0px 20px;
  width: 23px;
} 

.todo__bottom p {
  color: #2C6780;
  font-weight: 700;
  margin-top: 3px;
  text-align: center;
}

.todo__card .urgent h2 {
  border-bottom: 2px solid #FEC40E;
}

.todo__card .urgent {
  background-color: #FEE89E;
  border: 2px solid #FEC40E;
}

.todo__bottom .urgent {
  border-top: 2px solid #FEC40E;
}

@media only screen 
and (max-device-width : 750px) 
and (orientation : portrait) { 

body {
  display: block;
  margin: 0px;
  width: 100%;
}

header {
  height: 120px;
  line-height: 36px;
  width: 100%;
}

h1 {
  font-size: 36px;
  line-height: 36px;
  margin: auto;
  padding-top: 10px;
}

.header__search {
  margin: auto;
  padding: -10px auto 10px auto;
}

.fridge {
  height: auto;
  width: 100%;
}

.todo__card {
  width: 90%;
}